
	
	<div class="footer">
		<h3>About Us</h3>

		<i class="fa-brands fa-github"></i>
		<i class="fa-sharp fa-solid fa-envelope"></i>
		<i class="fa-solid fa-paper-plane"></i>
		<i class="fa-brands fa-linkedin"></i>

		<h3><strong>Note:</strong> Currently this API works only for popular cities across the globe. Other cities will be added later on.</h3>

		<h5>© Pavansai </h5>
	</div>
</body>
</html>