<!DOCTYPE html>
<html>
<head>
	<title>Vatavaranam</title>
	<script src="https://kit.fontawesome.com/caff701a68.js" crossorigin="anonymous"></script>
	<link rel="icon" type="image/x-icon" href="/images/cloudy.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

	<div class="search-bar">
		<form action="/" method="post">
			<input type="text" name="cityName" placeholder="Location" autocomplete="off">
			<button type="submit"><strong>Search</strong></button>
		</form>
	</div>